<div class="motd">
    <p>
        <em>Welcome to the documentation !</em><br />
        If you don't know what you are looking at, we suggest browsing the
        <a href="http://give2peer.org">Give2Peer website</a>
        instead.
    </p>

    <p>
        Authentication is done through HTTP basic Auth,
        and each user has daily quotas for most actions,
        which is why the sandbox asks for credentials.
        You can make yourself an account through the <code>register</code> method.
        {#<br />#}
        {#There's also a list of <a href="https://github.com/Give2Peer/g2p-server-symfony/blob/master/src/Give2Peer/Give2PeerBundle/Controller/ErrorCode.php">error response codes</a>.#}
        <br />
        <br />
        <em>A word of warning</em> : this sandbox queries the actual production database.
        <br />
    </p>

    <p>
        You can also
        browse the <a href="https://github.com/Give2Peer/g2p-server-symfony">source</a>,
        submit <a href="https://github.com/Give2Peer/g2p-server-symfony/issues">issues</a> or
        look at the <a href="https://github.com/Give2Peer/g2p-server-symfony/tree/master/features">specifications</a>.
    </p>
</div>